Lich Cup Dien.json
{
  "name": "Lich Cup Dien",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sZPu_KD37Fet6goOGKzqz_Du8GaiSxs79An5deqShCQ",
          "mode": "list",
          "cachedResultName": "evn-outage-notifier",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sZPu_KD37Fet6goOGKzqz_Du8GaiSxs79An5deqShCQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sZPu_KD37Fet6goOGKzqz_Du8GaiSxs79An5deqShCQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "active",
              "lookupValue": "=true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1808,
        32
      ],
      "id": "3ee41abf-3b16-43f0-be8d-64e33eb8f306",
      "name": "Get Active Users",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6OchC4WBVozMG3u2",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sZPu_KD37Fet6goOGKzqz_Du8GaiSxs79An5deqShCQ",
          "mode": "list",
          "cachedResultName": "evn-outage-notifier",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sZPu_KD37Fet6goOGKzqz_Du8GaiSxs79An5deqShCQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1411934031,
          "mode": "list",
          "cachedResultName": "areas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sZPu_KD37Fet6goOGKzqz_Du8GaiSxs79An5deqShCQ/edit#gid=1411934031"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1824,
        576
      ],
      "id": "793da719-220b-4901-b5f3-8d5178768b06",
      "name": "Get Area",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6OchC4WBVozMG3u2",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "area_code",
              "field2": "area_code"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1568,
        288
      ],
      "id": "1c1aad29-7bb1-47d0-8a25-04fb7edfc990",
      "name": "Merge Active User and Area"
    },
    {
      "parameters": {
        "jsCode": "const codes = $json.area_code || [];\nreturn codes.map(code => ({ json: { area_code: code } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        400
      ],
      "id": "ea145b11-316c-438e-9bc5-366adafd9d4a",
      "name": "Re-mapping",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "area_code"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1344,
        400
      ],
      "id": "0b517da8-45bb-49a3-93aa-38b9c7b81678",
      "name": "Group By area"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -928,
        400
      ],
      "id": "67c3abb5-6aa4-45c3-a72c-0e1052a8f784",
      "name": "Loop Over Items",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://cskh.evnspc.vn/TraCuu/GetThongTinLichNgungGiamCungCapDien",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "madvi",
              "value": "={{ $('Re-mapping').item.json.area_code }}"
            },
            {
              "name": "tuNgay",
              "value": "={{$now.setZone('Asia/Ho_Chi_Minh').toFormat('dd-LL-yyyy')}}"
            },
            {
              "name": "denNgay",
              "value": "={{$now.setZone('Asia/Ho_Chi_Minh').plus({days: 3}).toFormat('dd-LL-yyyy')}}"
            },
            {
              "name": "ChucNang",
              "value": "MaDonVi"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -752,
        624
      ],
      "id": "5c69cb6b-c855-49e5-9012-11c0fce30a7e",
      "name": "HTTP Request",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "rows",
              "cssSelector": ".entry",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -544,
        752
      ],
      "id": "382fc9d0-2222-4b17-8789-5f82e9af045b",
      "name": "HTML",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "rows"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -336,
        864
      ],
      "id": "fba3a2af-9620-4bdf-8c39-8a331a5a20d9",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "rows[0]",
        "extractionValues": {
          "values": [
            {
              "key": "where",
              "cssSelector": ".where",
              "returnArray": true
            },
            {
              "key": "time_raw",
              "cssSelector": ".time",
              "returnArray": true
            },
            {
              "key": "cause",
              "cssSelector": ".cause",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        32,
        976
      ],
      "id": "8dea481c-4146-4351-8fca-8cafc642f5c7",
      "name": "HTML1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        544,
        976
      ],
      "id": "2f32d72c-f014-451c-88b7-321d8524d7b7",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// nhận toàn bộ items từ cổng \"done\"\nconst all = $input.all();\n\nif (all.length === 0) {\n  // không có dữ liệu -> dừng nhánh\n  return [];\n}\n\n// (tuỳ chọn) lọc rỗng/invalid trước khi cho qua\n// const filtered = all.filter(i => i.json.area_code && i.json.where && i.json.time_raw);\n// return filtered;\n\nreturn all;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        272
      ],
      "id": "aa702dc5-e1b9-4cea-9a52-4aae5fb5ac7e",
      "name": "Code: Guard"
    },
    {
      "parameters": {
        "jsCode": "// Paste your code here for collaborative editing\n/**\n * n8n Code node — Run Once for All Items\n * Output: [\n *   {\n *     user: { id, name, phone_number, channel, area_code, keyword },\n *     lich_cup: [ { khu_vuc, thoi_gian_cup }, ... ]\n *   },\n *   ...\n * ]\n * Đổi tên 2 node bên dưới cho đúng flow của bạn.\n */\nconst NODE_USERS   = \"Get Active Users\"; // node chứa danh sách user active\nconst NODE_RESULTS = \"Results\";\n\n// ------------------ Helper: normalize string ------------------\nfunction normalizeStr(s) {\n  if (!s || typeof s !== \"string\") return \"\";\n  return s\n    .normalize(\"NFD\")\n    .replace(/[̀-ͯ]/g, \"\")\n    .toLowerCase()\n    .trim();\n}\n\n// Simple fuzzy similarity (returns 0–1)\nfunction fuzzySimilarity(a, b) {\n  if (!a || !b) return 0;\n  const as = a.split(\" \");\n  const bs = b.split(\" \");\n  let hits = 0;\n  for (const w of as) if (bs.includes(w)) hits++;\n  return hits / Math.max(as.length, bs.length);\n}\n\n// ------------------ Load USERS (unlinked node) ------------------ (không nối dây) ------------------\nlet usersItems = [];\ntry {\n  usersItems = $items(NODE_USERS);\n} catch (e) {\n  throw new Error(`Không tìm thấy node \"${NODE_USERS}\" hoặc node chưa chạy: ${e.message}`);\n}\n\n// ------------------ Load RESULTS (prefer input, fallback to node) ------------------ (ưu tiên input, fallback $items) ------------------\nlet results = $input.all().map(i => i.json);\nif (!results.length) {\n  try {\n    const resItems = $items(NODE_RESULTS);\n    results = resItems.map(i => i.json);\n    if (results.length === 1 && Array.isArray(results[0])) results = results[0];\n    const r0 = results[0];\n    if (results.length === 1 && r0 && typeof r0 === 'object') {\n      if (Array.isArray(r0.results)) results = r0.results;\n      else if (Array.isArray(r0.data)) results = r0.data;\n    }\n  } catch (e) {\n    // bỏ qua, sẽ kiểm tra length ngay sau\n  }\n}\nif (!results.length) {\n  throw new Error(`Không có dữ liệu cúp điện từ input hoặc node \"${NODE_RESULTS}\".`);\n}\n\n// ------------------ Prepare output array ------------------ ------------------\nconst userForMailing = [];\n\n// ------------------ Iterate through each user ------------------ ------------------\nfor (const user of usersItems) {\n  \n\n  // Extract and normalize keyword\n  const keyword = normalizeStr(user?.json?.keyword || \"\");\n  const userArea = user?.json?.area_code || \"\";\n\n  // Loop through each result record\n  for (const rec of results) {\n    \n\n    // Check area_code match\n    const resultArea = rec?.area_code || \"\";\n    if (userArea !== resultArea) {\n      continue;\n    }\n\n    // Normalize result where-text\n    const whereRaw = rec?.where[0] || \"\";\n    let startDate = rec?.time_raw[0] || \"\";\n\n    // Extract text between \"ngày\" and \"đến\"\n    const m = startDate.match(/ngày(.*?)đến/i);\n    if (m && m[1]) {\n      startDate = m[1].trim();\n    }    \n    \n    // Update rec.startDate with extracted value\n    rec.startDate = startDate;\n\n    // Convert Vietnamese format \"d/m/Y\" into JS Date\n    const parts = startDate.split(\"/\");\n    if (parts.length === 3) {\n      const [d, m, y] = parts.map(p => parseInt(p.trim(), 10));\n      if (!isNaN(d) && !isNaN(m) && !isNaN(y)) {\n        rec.startDateObj = new Date(y, m - 1, d);\n      }\n    }\n    \n    const whereNorm = normalizeStr(whereRaw);\n\n    // Simple two-way substring match (reverted)\n    const isMatch = whereNorm.includes(keyword) || keyword.includes(whereNorm);\n\n    // If matched, push user + result into userForMailing\n    // Check today\n    const today = new Date();\n\n    if (isMatch && rec.startDateObj instanceof Date && rec.startDateObj > today) {\n      const userId = user?.json?.id;\n\n      // Check if the user already exists in userForMailing\n      let existing = userForMailing.find(u => u.user?.id === userId);\n\n      if (!existing) {\n        // Create new user entry\n        existing = {\n          user: { ...user.json },\n          lich_cup: []\n        };\n        userForMailing.push(existing);\n      }\n\n      // Push the result record\n      existing.lich_cup.push({ ...rec, hash: normalizeStr($input.first().json.where[0]) + \"|\" + normalizeStr($input.first().json.time_raw[0]) });\n    }   \n    \n  }\n}\n\nreturn userForMailing;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        -16
      ],
      "id": "d4b7b508-d8a3-40c6-81fe-7887d9508905",
      "name": "Get_User_For_Mail",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "/**\n * n8n Code node — Run Once for All Items\n * Generate email_subject + email_body (HTML) cho từng user.\n */\n\nconst MAILING_NODE = \"Get_User_For_Mail\";\n\n// ------------------ Load Users ------------------\nlet mailingUsers = [];\ntry {\n  mailingUsers = $items(MAILING_NODE).map(i => i.json);\n} catch (e) {\n  throw new Error(`Không tìm thấy node \"${MAILING_NODE}\" hoặc node chưa chạy: ${e.message}`);\n}\n\nconst output = [];\n\nfunction escapeHtml(str) {\n  return str?.replace?.(/[&<>\"']/g, function(m) {\n    return ({\n      '&': '&amp;',\n      '<': '&lt;',\n      '>': '&gt;',\n      '\"': '&quot;',\n      \"'\": '&#39;',\n    })[m];\n  }) || \"\";\n}\n\nfor (const entry of mailingUsers) {\n  const user = entry.user;\n  const schedules = entry.lich_cup || [];\n\n  // ------------------ SUBJECT ------------------\n  const subject = `[Thông báo lịch cúp điện] Khu vực ${user.area_code} – Có ${schedules.length} lịch`;\n\n  // ------------------ HTML EMAIL BODY ------------------\n  let body = `\n<div style=\"font-family: Arial, sans-serif; max-width:600px; margin:auto; background:#ffffff; padding:20px; color:#333; line-height:1.6;\">\n\n  <h2 style=\"margin-top:0; color:#2b7cff;\">\n    🔌 Thông báo cúp điện đến anh/chị ${escapeHtml(user.name)}\n  </h2>\n\n  <p style=\"margin:0 0 12px 0;\">\n    Chúng tôi nhận thấy khu vực anh/chị đang theo dõi có một số lịch ngừng cung cấp điện được công bố công khai từ hệ thống điện lực.\n    Vì vậy, chúng tôi xin gửi đến anh/chị thông tin tổng hợp để tiện theo dõi và chủ động trong sinh hoạt – công việc.\n  </p>\n\n  <hr style=\"border:none; border-top:1px solid #eee; margin:20px 0;\" />\n\n  <h3 style=\"color:#444; margin-bottom:10px;\">📋 DANH SÁCH CÁC LỊCH CÚP ĐIỆN</h3>\n\n  <ul style=\"padding-left:18px; margin:0;\">\n`;\n\n  // ------------------ LIST ITEMS ------------------\n  schedules.forEach((s, index) => {\n    const where = (s.where || []).map(w => escapeHtml(w)).join(\"<br>\");\n    const time = (s.time_raw || []).map(t => escapeHtml(t)).join(\"<br>\");\n    const cause = (s.cause || []).map(c => escapeHtml(c)).join(\"<br>\");\n\n    body += `\n    <li style=\"margin-bottom:15px;\">\n      <strong style=\"color:#2b7cff;\">Lịch số ${index + 1}</strong><br>\n      <div style=\"margin-top:6px;\">\n        <strong>Khu vực ảnh hưởng:</strong><br>${where}<br><br>\n        <strong>Thời gian dự kiến:</strong><br>${time}<br><br>\n        <strong>Nguyên nhân:</strong><br>${cause}<br><br>\n        <strong>Ngày áp dụng:</strong> ${escapeHtml(s.startDate)}\n      </div>\n    </li>\n`;\n  });\n\n  // ------------------ FOOTER ------------------\n  body += `\n  </ul>\n\n  <hr style=\"border:none; border-top:1px solid #eee; margin:20px 0;\" />\n\n  <p style=\"font-size:13px; color:#777;\">\n    🔎 <strong>Lưu ý:</strong> Đây không phải thông báo chính thức từ Điện lực.\n    Dữ liệu được thu thập tự động từ hệ thống công khai của EVN.\n  </p>\n\n  <p style=\"margin-top:20px;\">\n    Trân trọng,<br>\n    <strong>Hệ thống Crawler Thông báo Cúp điện được phát triển miễn phí bởi Kiêm Nhựt Triều</strong>\n  </p>\n\n</div>\n`;\n\n  // ------------------ Push Output ------------------\n  output.push({\n    json: {\n      ...entry,\n      email_subject: subject,\n      email_body: body,\n      email_to: user.email,\n      name: user.name,\n    }\n  });\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -208
      ],
      "id": "bed03eb0-b93d-417e-b9da-dcc7ebaa4840",
      "name": "Compose_Email"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.user.email }}",
        "subject": "={{ $json.email_subject }}",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        0
      ],
      "id": "91d791af-b4bc-458b-b8da-ae8614fee2c5",
      "name": "Send a message",
      "webhookId": "dc2f53f2-5d69-4590-98bb-5ce08d5b01e0",
      "credentials": {
        "gmailOAuth2": {
          "id": "sCUViMNRnGgDO2Yp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sZPu_KD37Fet6goOGKzqz_Du8GaiSxs79An5deqShCQ",
          "mode": "list",
          "cachedResultName": "evn-outage-notifier",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sZPu_KD37Fet6goOGKzqz_Du8GaiSxs79An5deqShCQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 923790101,
          "mode": "list",
          "cachedResultName": "sent_history",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sZPu_KD37Fet6goOGKzqz_Du8GaiSxs79An5deqShCQ/edit#gid=923790101"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        -224
      ],
      "id": "879d0cc6-37f3-4cdb-ade4-97d170fdee66",
      "name": "Get_Sent_History",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6OchC4WBVozMG3u2",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Node: Filter_New_And_Update_History\n *\n * Input 0 → từ Compose Email (list user + lịch mới)\n * Input 1 → từ Get Sent History (rows trong Google Sheet)\n *\n * Output:\n *  - items[0] → list user còn lịch mới để gửi email\n *  - items[1] → list rows để append vào Google Sheet\n */\n\nconst composeList = $items(\"Compose_Email\").map(i => i.json);\nconst historyRows = $items(\"Get_Sent_History\").map(i => i.json);\n\nconst resultsForEmail = [];\nconst rowsToAppend = [];\n\n// Helper: tìm xem lịch đã tồn tại trong sheet chưa\nfunction isSentBefore(userId, hash) {\n  return historyRows.some(\n    row =>\n      String(row.user_id).trim() === String(userId).trim() &&\n      String(row.hash).trim() === String(hash).trim()\n  );\n}\n\nfor (const entry of composeList) {\n  const user = entry.user;\n  const lichList = entry.lich_cup || [];\n\n  const keptSchedules = [];\n\n  for (const sch of lichList) {\n    const hash = sch.hash;\n    const userId = user.id;\n\n    if (isSentBefore(userId, hash)) {\n      // lịch đã gửi trước đây → skip\n      continue;\n    }\n\n    // Đây là lịch mới → giữ lại\n    keptSchedules.push(sch);\n\n    // Chuẩn bị append vào Google Sheet\n    rowsToAppend.push({\n      user_id: user.id,\n      area_code: user.area_code,\n      khu_vuc: sch.khu_vuc ?? (sch.where?.[0] || \"\"),\n      thoi_gian_cup: sch.thoi_gian_cup ?? (sch.time_raw?.[0] || \"\"),\n      hash,\n      sent_at: new Date().toISOString()\n    });\n  }\n\n  // Nếu user có lịch mới thì push vào output gửi mail\n  if (keptSchedules.length > 0) {\n    resultsForEmail.push({\n      ...entry,\n      lich_cup: keptSchedules,\n\n      // Update subject/body cho đúng số lịch mới nếu bạn muốn\n      email_subject: `[Thông báo lịch cúp điện] Khu vực ${user.area_code} – Có ${keptSchedules.length} lịch`,\n      email_body: entry.email_body, // nếu muốn render body theo lich mới, báo mình để mình sửa luôn\n    });\n  }\n}\n\nreturn [\n  { json: { send_list: resultsForEmail } },   // Output 1 → Gmail\n  { json: { append_rows: rowsToAppend } }     // Output 2 → Google Sheet Append\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -224
      ],
      "id": "7bb35d8a-9f7f-4fbf-9da9-23e168f6dda5",
      "name": "Filter_New_And_Update_History",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1sZPu_KD37Fet6goOGKzqz_Du8GaiSxs79An5deqShCQ",
          "mode": "list",
          "cachedResultName": "evn-outage-notifier",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sZPu_KD37Fet6goOGKzqz_Du8GaiSxs79An5deqShCQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 923790101,
          "mode": "list",
          "cachedResultName": "sent_history",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sZPu_KD37Fet6goOGKzqz_Du8GaiSxs79An5deqShCQ/edit#gid=923790101"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.user_id }}",
            "area_code": "={{ $json.area_code }}",
            "khu_vuc": "={{ $json.khu_vuc }}",
            "thoi_gian_cup": "={{ $json.thoi_gian_cup }}",
            "hash": "={{ $json.hash }}",
            "sent_at": "={{ $json.sent_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "area_code",
              "displayName": "area_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "khu_vuc",
              "displayName": "khu_vuc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "thoi_gian_cup",
              "displayName": "thoi_gian_cup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hash",
              "displayName": "hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        944,
        -368
      ],
      "id": "b6796e3e-c06c-40be-9e74-663bdb179799",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6OchC4WBVozMG3u2",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "append_rows",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        672,
        -368
      ],
      "id": "c0b1b9e2-4cb2-4559-bcce-f302c6de339a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldToSplitOut": "send_list",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        656,
        0
      ],
      "id": "28189cb4-f040-41e2-9853-5ec0ed3fb31c",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/crawl-electricity",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2256,
        304
      ],
      "id": "f6bf29c1-d2fc-411b-bf84-1983943748f1",
      "name": "Webhook",
      "webhookId": "cbfd35b5-dcfc-42a2-bdd0-e5d54d0196e8",
      "notesInFlow": false,
      "retryOnFail": false,
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "gdLrgx2o5hUz4X7o",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get Active Users": {
      "main": [
        [
          {
            "node": "Merge Active User and Area",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Area": {
      "main": [
        [
          {
            "node": "Merge Active User and Area",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Active User and Area": {
      "main": [
        [
          {
            "node": "Group By area",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group By area": {
      "main": [
        [
          {
            "node": "Re-mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-mapping": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code: Guard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Guard": {
      "main": [
        [
          {
            "node": "Get_User_For_Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_User_For_Mail": {
      "main": [
        [
          {
            "node": "Compose_Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose_Email": {
      "main": [
        [
          {
            "node": "Get_Sent_History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Sent_History": {
      "main": [
        [
          {
            "node": "Filter_New_And_Update_History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter_New_And_Update_History": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Active Users",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Area",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "10bde5d2-c969-426e-b7c0-5613f3c13f62",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c032ea0a5bf108863f2ed5a1e769a0889e7dcb3ee1b1ae1be52bd4ad18754b9d"
  },
  "id": "8f9d027CyMsrmVhH",
  "tags": []
}