My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -288,
        80
      ],
      "id": "09223e2f-edfe-42f9-8a17-be060de52ec8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sZPu_KD37Fet6goOGKzqz_Du8GaiSxs79An5deqShCQ",
          "mode": "list",
          "cachedResultName": "evn-outage-notifier",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sZPu_KD37Fet6goOGKzqz_Du8GaiSxs79An5deqShCQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sZPu_KD37Fet6goOGKzqz_Du8GaiSxs79An5deqShCQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "active",
              "lookupValue": "=true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        -208
      ],
      "id": "71d6cc6f-d385-4408-848a-c1c9aea8d2cc",
      "name": "Get Active Users",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "INvoDGNsdixdXhP9",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sZPu_KD37Fet6goOGKzqz_Du8GaiSxs79An5deqShCQ",
          "mode": "list",
          "cachedResultName": "evn-outage-notifier",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sZPu_KD37Fet6goOGKzqz_Du8GaiSxs79An5deqShCQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1411934031,
          "mode": "list",
          "cachedResultName": "areas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sZPu_KD37Fet6goOGKzqz_Du8GaiSxs79An5deqShCQ/edit#gid=1411934031"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        336
      ],
      "id": "d88ee670-971e-429d-9cb9-485f633e82d9",
      "name": "Get Area",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ypJBFG4XsC0wnKMV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "area_code",
              "field2": "area_code"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        256,
        48
      ],
      "id": "39635767-ed0c-4535-8878-f146af9a5cf7",
      "name": "Merge Active User and Area"
    },
    {
      "parameters": {
        "jsCode": "const codes = $json.area_code || [];\nreturn codes.map(code => ({ json: { area_code: code } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        160
      ],
      "id": "8b173b29-8b46-45f2-b1e9-147c5cf35b1d",
      "name": "Re-mapping",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "area_code"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        480,
        160
      ],
      "id": "59c9ddb9-7830-45f6-91a4-3b910ff3881c",
      "name": "Group By area"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        896,
        160
      ],
      "id": "3fef244b-f5a6-4b41-94d3-a5ba17cdc92f",
      "name": "Loop Over Items",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://cskh.evnspc.vn/TraCuu/GetThongTinLichNgungGiamCungCapDien",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "madvi",
              "value": "={{ $('Re-mapping').item.json.area_code }}"
            },
            {
              "name": "tuNgay",
              "value": "={{$now.setZone('Asia/Ho_Chi_Minh').toFormat('dd-LL-yyyy')}}"
            },
            {
              "name": "denNgay",
              "value": "={{$now.setZone('Asia/Ho_Chi_Minh').plus({days: 3}).toFormat('dd-LL-yyyy')}}"
            },
            {
              "name": "ChucNang",
              "value": "MaDonVi"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1072,
        384
      ],
      "id": "e0c2ba63-1b0f-46a1-a71f-58c7a33fc574",
      "name": "HTTP Request",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "rows",
              "cssSelector": ".entry",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1280,
        512
      ],
      "id": "a1736c26-b8d1-4484-a0fc-0b59bd4276ac",
      "name": "HTML",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "rows"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1488,
        624
      ],
      "id": "9940651a-6625-449c-a6b4-fec81022d5f9",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "rows[0]",
        "extractionValues": {
          "values": [
            {
              "key": "where",
              "cssSelector": ".where",
              "returnArray": true
            },
            {
              "key": "time_raw",
              "cssSelector": ".time",
              "returnArray": true
            },
            {
              "key": "cause",
              "cssSelector": ".cause",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1856,
        736
      ],
      "id": "274a6c59-4271-436e-baff-cbeb9ee2be49",
      "name": "HTML1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2368,
        736
      ],
      "id": "491d4336-42fb-4df9-b659-adb863e5ddf9",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// nhận toàn bộ items từ cổng \"done\"\nconst all = $input.all();\nconsole.log(`[Guard] received items: ${all.length}`);\n\nif (all.length === 0) {\n  // không có dữ liệu -> dừng nhánh\n  return [];\n}\n\n// (tuỳ chọn) lọc rỗng/invalid trước khi cho qua\n// const filtered = all.filter(i => i.json.area_code && i.json.where && i.json.time_raw);\n// return filtered;\n\nreturn all;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        -48
      ],
      "id": "aaadf177-68d4-445c-a7f5-506fe3482791",
      "name": "Code: Guard"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Active Users",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Area",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Users": {
      "main": [
        [
          {
            "node": "Merge Active User and Area",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Area": {
      "main": [
        [
          {
            "node": "Merge Active User and Area",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Active User and Area": {
      "main": [
        [
          {
            "node": "Group By area",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group By area": {
      "main": [
        [
          {
            "node": "Re-mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-mapping": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code: Guard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Guard": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e359bf15-d407-4929-9617-0a1e457eb4b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c032ea0a5bf108863f2ed5a1e769a0889e7dcb3ee1b1ae1be52bd4ad18754b9d"
  },
  "id": "JDQtKqFUQfYViCFF",
  "tags": []
}